a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.result-table {
    border: 1px solid brown;
}

select#year {
    border: transparent;
    cursor: pointer;
}

.hide {
    display: none !important;
}

div#loader-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

div#alert-error-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label.form-check-label {
    min-width: 50px;
}

.hover-pointer {
    cursor: pointer;
}

.hover-pointer input {
    cursor: pointer;
}

table.table tr {
    vertical-align: middle;
}

span.tooltip-text {
    text-decoration: underline;
}

div.expert-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.pannel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.pannel-wrapper div {
    margin-right: 10px;
}