@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

div.status-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    --bs-pagination-active-bg: var(--bs-success-bg-subtle);
    --bs-pagination-active-border-color: var(--bs-success);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25);
}